$backgroundColor: rgb(20, 96, 91);
$textColor: rgba(255, 255, 255, 0.867);
$mainColor: #e5383b;

:root {
    --fontsize-button-text: 15px;
    --fontweight-button-text: 400;
}

* {
    font-family: "League Spartan", sans-serif;
    background-color: $backgroundColor;
    color: $textColor;
}

