* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;;
    background-color: #EFFFFD;
    color: #0A043C

}

.button {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #e1e4e8;
  }